html{
scroll-behavior:smooth;
}
.welcome{

text-align:center;

margin:20px;

}

.welcome h2{

font-size:32px;

margin-bottom:10px;

}

.welcome p{

font-size:18px;

color:#666;

}
body{
margin:0;
padding:0;
background:#eef3fb;
font-family:Arial,sans-serif;
overflow-x:hidden;
}
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f7fb;
}

.topbar{
background:#0f172a;
color:white;
padding:25px;
text-align:center;
}

.topbar p{
margin-top:8px;
opacity:.8;
}

.hero{
padding:30px 15px;
text-align:center;
}

#searchBox{
width:95%;
max-width:500px;
padding:15px;
border:none;
border-radius:10px;
font-size:17px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
margin-bottom:30px;
}

.class-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
gap:18px;
max-width:900px;
margin:auto;
}

.class-card{
background:white;
padding:35px 20px;
border-radius:14px;
font-size:22px;
font-weight:bold;
cursor:pointer;
transition:.3s;
box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.class-card:hover{
background:#2563eb;
color:white;
transform:translateY(-6px);
}

#content{
max-width:1000px;
margin:30px auto;
padding:20px;
}
#navigation{
    max-width:1000px;
    margin:20px auto;
    padding:0 20px;
}

.nav-btn{
    padding:12px 18px;
    border:none;
    border-radius:10px;
    margin-right:10px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    box-shadow:0 5px 10px rgba(0,0,0,.15);
}

.nav-btn:hover{
    background:#1d4ed8;
}
/* Navbar */

.navbar{
position:sticky;
top:0;
left:0;
width:100%;
height:70px;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 20px;

background:#ffffff;

box-shadow:0 3px 10px rgba(0,0,0,.1);

z-index:9999;
}

.logo{
font-size:24px;
font-weight:bold;
color:#2563eb;
}

.menu{
display:flex;
gap:20px;
}

.menu a{

text-decoration:none;
font-weight:bold;
color:#222;

}

.menu a:hover{

color:#2563eb;

}

/* Footer */

.footer{
margin-top:50px;
background:#0f172a;
color:white;
padding:25px;
text-align:center;
}

/* WhatsApp */

.whatsapp{
position:fixed;
right:20px;
bottom:20px;
width:60px;
height:60px;
background:#25D366;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
text-decoration:none;
box-shadow:0 6px 15px rgba(0,0,0,.3);
}
@media(max-width:700px){

.navbar{

flex-direction:column;

height:auto;

padding:15px;

}

.menu{

margin-top:10px;

}

.logo{

font-size:20px;

}

}
.stats{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

gap:20px;

max-width:1100px;

margin:40px auto;

padding:20px;

}

.stat-card{

background:white;

padding:25px;

border-radius:18px;

text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,.08);

transition:.3s;

}

.stat-card:hover{

transform:translateY(-8px);

}

.icon{

font-size:45px;

margin-bottom:10px;

}

.stat-card h2{

font-size:32px;

color:#2563eb;

}

.stat-card p{

margin-top:8px;

font-size:18px;

color:#666;

}
